.keyboard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 30%;
    border: 1px solid black;
    display: flex;
    background-color: rgba(240, 248, 255, 0.397);
    border-radius: 10px;
    overflow: hidden;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.key {
    width: calc(25% - 2px);
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.glowbox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(252, 252, 252, 0.178);
}

.glowbox.light {
    background-color: rgba(252, 252, 252, 0.815);

}

.prop {
    height: 100px;
    width: 100%;
    background-color: yellow;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    opacity: 1;
    transition: opacity 0.1s;
    border: 1px solid black;
}

.key input {
    width: calc(100% - 2px);
    padding: 0px;
    border: 1px solid black;
}

.log {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 1px solid black;
    width: 30%;
    height: 90%;
    overflow-y: auto;
}

.key button {
    width: 100%;
    text-align: center;
}

.line {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 10px;
    background-color: rgba(243, 19, 19, 0.363);
}


.combo {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#combo {
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 1000;
    border: none;
    font-weight: 800;
    color: aliceblue;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#points {
    position: fixed;
    bottom: 20px;
    left: 20px;
    top: unset;
    background-color: rgba(240, 248, 255, 0.733);
    font-size: 70px;
    border-radius: 20px;
}

video {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.slide-in-top {
    -webkit-animation: slide-in-top 1s linear both;
    animation: slide-in-top 1s linear both;
}

.songlist {
    position: absolute;
    width: 90%;
    height: 90%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    padding: 10px;
}

.songlist .song {
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.song img {
    height: 100%;
    border-radius: 10px;
}

.song h1 {
    font-size: 20px;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
    }

    100% {
        -webkit-transform: translateY(150px);
        transform: translateY(150px);
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
    }

    100% {
        -webkit-transform: translateY(150px);
        transform: translateY(150px);
    }
}



.progre {
    width: 30%;
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: green;
    height: 10px;
}